[build]
  publish = "."
  command = "echo 'No build needed'"

## Do NOT rewrite API paths to index.html
[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
